@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: theme("fontFamily.main");
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

.ib-break-words {
    word-break: break-word;
    overflow-wrap: break-word;
}